:root {
    --gray: #9a9fa6;
    --blue: #223a54;
}
body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}
label {
    font-family: inherit;
    font-size: inherit;
}
p {
    line-height: 1.5em;
    margin-left: 0.25em;
}
b {
    color: var(--blue);
}
.main {
    display: grid;
    place-items: center;
    height: 100vh;
}
.row {
    display: flex;
    flex-direction: row;
}
#results-container {
    display: none;
    margin-left: 10vw;
}
.txt-in {
    padding: 0.5em;
    margin: .5em 0;
    border: 0.1em solid var(--gray);
    border-radius: 0.5em;
}
.rect-button{
    border: none;
    border-radius: 1vh;
    padding: 0.5em 1em;
    font-family: inherit;
    outline: none;
}
.big {
    font-size: 20px;
}
.white {
    color: white;
}
.blue {
    color: var(--blue);
}
.blue-bg {
    background-color: var(--blue);
}
.align-right {
    text-align: right;
}
.right {
    margin: 0;
    float: right;
}
